yardoc
coverage
pkg
Gemfile.lock

lib/oga/xml/parser.rb
lib/oga/xpath/lexer.rb

lib/liboga.*

benchmark/fixtures/big.xml

profile/samples/*.txt
profile/samples/*/*.txt
*.so
tmp

ext/c/lexer.c
ext/java/org/liboga/xml/Lexer.java
